body{
    color: white;
    padding: 10px;
    margin: 30px;
    font-size: auto;
    background="Solar.jpg"
    background-repeat: no-repeat;
    background-size: cover;
}
h1{color:white
    font-size: px;
}